*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mouse Memoirs', sans-serif;
}
a, a:hover{
    text-decoration: none;
}
/* ..................... */
nav{
    background: #FFD9C0;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}
nav a{
    color: #187498;
}
nav a:hover{
    color: #8CC0DE;
}
/* ........................ */
.logo{
    flex: 1;
}
.logo a{
    display: flex;
    align-items: center;
    font-size: 25px;
}
.logo img{
    width: 60px;
    margin-right: 10px;
}
/* ......................... */
/* ......................... */
main{
    padding: 10px;
    margin: auto;
    width: 100%;
    height: 1000px;
    background: #FAF0D7;
}

form{
    background: #F4BFBF;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 300px;
    border-radius: 10px;
}

form input, select{
    border: 0;
    margin: 5px;
    padding: 5px;
    outline: none;
    background: white;
    font-size: 16px;
}

form button{
    padding: 15px;
    background: #FAF0D7;
    color: #187498;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 140px;
    margin: 10px auto 0;
    border-radius: 30px;
}
label{
    color: #187498;
}

/* .......................... */
/* .......................... */
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background: #8CC0DE;
}
.footer span{
    color: #F4BFBF;
}
.footer a{
    color: #FFD9C0;
}
.footer a:hover{
    color: #187498;
}
.footer p{
    color: #FFD9C0;
}
/* ............................ */
table{
    position: relative;
    z-index: 2;
    left: 600px;
    top: 50px;
    transform: translate(-50%,-50%);
    width: 60%; 
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
   
   }
   td , th{
    padding: 15px 55px;
    text-align: center;
    background-color: #FFDEDE;
    
   
   }
   th{
    background-color: #F4BFBF;
    color: #187498;
    text-transform: uppercase;
   
   }
   tr{
    width: 100%;
    background-color: #8CC0DE;
    
   }
   tr:nth-child(even){
    background-color: #F4BFBF;
   }